<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>BookingUni</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <div id="container">
        <div>
            {{#if error}}
            {{!-- <div class="notification loadingBox">
                Loading …
            </div>
            <div class="notification infoBox">
                <span>Info</span>
            </div> --}}
            <div class="notification errorBox">
                {{#each error}}
                <span>{{this}}</span>
                {{/each}}
            </div>
            {{/if}}
        </div>

        <nav>
            <div class="left-container">
                <ul>
                    <li><a href="/">Home</a></li>
                    {{#if isAuthenticated}}
                    <li><a href="/hotels/create">Add +</a></li>

                    {{else}}

                    <li><a href="/users/login">Login</a></li>
                    <li><a href="/users/register">Register</a></li>
                {{/if}}
                </ul>
            </div>


            <div class="right-container">
            {{#if isAuthenticated}}
            <a href="/profile" class="log-out">{{user.username}}</a>
            <a href="/users/logout" class="log-out">Logout</a>
            {{/if }}
             </div>
    </nav>

    {{{body}}}

    <footer>@SoftUni - JS Back-end - BookingUni 2020</footer>
    </div>

</body>

</html>