
        <section id="viewhotelDetails">
                    
                <div class="profile"><img src="/img/profile.png" alt="default user">
                    <h3>User Info:</h3>
                    <div class="flex">
                        <p>Username: </p>
                        <p>{{owner.username}}</p>
                    </div>
                    <div class="flex">
                        <p>Email: </p>
                        <p>{{owner.email}}</p>
                    </div>
                    <div class="flex">
                        
                        <p>Reservations: </p>
                       
                        <p>
                             {{#if owner.bookedNames}}
                            {{#each owner.bookedNames}}
                            <span>{{this}}, </span>
                             {{/each}}
                            {{/if}} 
                        </p>
                       
                    </div>
                </div>
             
        </section>
