

    <section class="catalog" id="catalog">
        <h2>Book Reviews</h2>
        <div class="container">
           {{#each books}}
            <div class="book">
                <div class="info-container">
                    <img src="{{image}}">
                    <div class="info">
                        <h2>{{title}}</h2>
                    </div>
                </div>
                <div class="details-btn">
                    <a href="/books/{{_id}}/details" class="details">Details</a>
                </div>
            </div>
            {{else}}

            <h2 class="no-record">There are no book reviews found yet...</h2>
        </div>
        {{/each}}
    </section>
